.tableContent {
  display: flex; 
  flex: 3; 
  align-content: flex-start; 
  height: inherit;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  height: 90vh;
}

th, td {
  text-align: left;
  padding: 16px;
  width: 240px;
}